/* _variables.scss */
$blue: #61dafb;
$black: #282c34;

$primary-color: $blue;
$secondary-color: $black;
$font-stack: 'Arial, sans-serif';

// $spacing-small: 5px;
// $spacing-medium: 10px;
// $spacing-large: 20px;

$breakpoint-tablet-min: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1440px;